{% extends "layout.html.twig" %}

{% block content %}
{% for invoice in invoices%}
    <div class="card text-center">
        <div class="card-header">
            {{ invoice.event.city }}
        </div>
        <div class="card-block">
            <div class="row">
<div class="col-12">

            <img src="{{ asset('uploads/images/events/' ~ invoice.event.imagen) }}" alt="img-event" class="img-invoice">
</div>
            </div>
            <h4 class="card-title">{{ invoice.event.name }}</h4>
            <p class="card-text">{{ invoice.event.description }}</p>
            <p class="card-text">Entradas: {{ invoice.numTickets }}</p>
        </div>
        <div class="card-footer text-muted">
            {{ invoice.event.date | date }}
        </div>
    </div>
{% endfor %}
{% endblock %}