{% extends 'layout.html.twig' %}

{% block content %}
        <div class="card text-center">
            <div class="card-header">
                {{ invoice.event.city }}
            </div>
            <div class="card-block">
                <img src="{{ asset('uploads/images/events/' ~ invoice.event.imagen) }}" alt="">
                <h4 class="card-title">{{ invoice.event.name }}</h4>
                <p class="card-text">{{ invoice.event.description }}</p>
            </div>

            <div class="card-footer text-muted">
                <div class="row">
                    <div class="col">
                {{ invoice.event.date | date }}

                    </div>
                    <div class="col">
                        <p><strong>Numero de entradas: </strong>{{ buynow }}</p>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}

