{% extends "layout.html.twig" %}

{% block content %}
    {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error.message }}
        </div>
    {% endif %}
    <form action="{{ path('login') }}" method="post" class="d-flex justify-content-center align-items-center ">
        <div class="d-flex flex-column align-items-center ">
            <label for="username"> Usuario:</label>
            <input type="text" id="username" name="_username" value="{{ last_username }}"/>
            <label for="password"> Password :</label>
            <input type="password" id="password" name="_password"/>
            <div class="row">
                <div class="col">
                    <a href="{{ path('userregister',{'role' : "ROLE_COMPRADOR"}) }}"
                       class="btn btn-primary">Register</a>
                </div>
                <div class="col">

                    <input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
                    <button type="submit" class="btn btn-success"> login</button>

                </div>
            </div>
        </div>
    </form>
{% endblock %}