{% extends "base.html.twig" %}

{% block body %}
    <header class="bg-info">
        <div class="container ">
            <nav class="navbar navbar-expand-lg navbar-light bg-inverse">
                <a class="navbar-brand" href="{{ path('event-list') }}">Navbar</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('event-list') }}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            {% if is_granted('ROLE_GESTOR')  %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('new-event') }}">New Event</a>
                                </li>
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('invoice-list') }}">Mis entradas</a>
                            </li>
                        {% endif %}

                        {% if is_granted('IS_AUTHENTICATED_FULLY') and is_granted('ROLE_ADMIN') %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('userlist-user') }}">Usuarios</a>
                            </li>
                        {% endif %}
                       {# <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Dropdown
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>#}
                            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li class="nav-item">
                                <a class="nav-link " href="{{ path('login') }}">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="{{ path('userregister', {'role': 'ROLE_GESTOR'}) }}">Register</a>
                        </li>
                            {% endif %}
                    </ul>
                    {% set urlNow = app.request.attributes.get('_route') %}
                    <form class="form-inline my-2 my-lg-0" action="{{ urlNow == "userlist-user" or urlNow == "list-user-roles" or urlNow == "userlist-user-search" ? path('userlist-user-search') : path('event-list-search') }}" method="post">
                        <input class="form-control mr-sm-2"  type="search" placeholder="Search" aria-label="Search" name="search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    {% if is_granted('IS_AUTHENTICATED_FULLY')%}
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span> 
                                    <strong>{{ app.user.name}}</strong>
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <div class="navbar-login">
                                            <div class="row">
                                                <div class="col-lg-4">
                                                    <a href="{{ path('userdetail-user', {'id': app.user.id}) }}" class="deco-none">
                                                    <p class="text-center">
                                                        <img src="{{ asset('uploads/images/users/' ~ app.user.avatar) }}" alt="" class="img-perfil">
                                                    </p>
                                                    </a>
                                                </div>
                                                <div class="col-lg-8">
                                                    <p class="text-left"><strong>{{ app.user.username}}</strong></p>
                                                    <p class="text-left small">{{ app.user.username}}</p>
                                                    <p class="text-left">
                                                        <a href="{{ path('useredit-user') }}" class="btn btn-primary btn-block btn-sm">Cambiar datos</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="divider"></li>
                                    <li>
                                        <div class="navbar-login navbar-login-session">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <p>
                                                        <a href="{{ path('logout') }}" class="btn btn-danger btn-block">Cerrar Sesion</a>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>
    <main >
        <div class="container ">
            {% block content %}
            {% endblock %}
        </div>
    </main>
{% endblock %}