{% extends 'layout.html.twig' %}

{% block content %}
    <form action ="{{ path('useredit-user-email') }}" method ="post" class="d-flex justify-content-center align-items-center ">
        <div class="d-flex flex-column align-items-center ">
            <label for="email"> New email :</label>
            <input type ="email" id ="email" name ="email" />
            <button type ="submit"> Change </button>
        </div>
    </form>
{% endblock %}

