{% extends 'layout.html.twig' %}

{% block content %}
    <form action ="{{ path('useredit-user-password') }}" method ="post" class="d-flex justify-content-center align-items-center ">
        <div class="d-flex flex-column align-items-center ">
            <label for="password"> New password :</label>
            <input type ="password" id ="password" name ="password" />
            <button type ="submit"> Change </button>
        </div>
    </form>
{% endblock %}

