{% extends 'layout.html.twig' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="{{ asset('uploads/images/users/' ~ user.avatar) }}" alt="img-perfil" class="img-fluid">
                </div>
                <div class="col">
                    <h1 class="display-4">{{ user.name }}</h1>
                </div>
            </div>
            
            <p class="lead">{{ user.email }}</p>
            {% if is_granted('IS_AUTHENTICATED_FULLY') and user.id == app.user.id %}
            <div class="row">
                <div class="col">
                <a href="{{ path('useredit-user-password') }}">Change password</a>
                </div>
            </div>
            <div class="row">
                <div class="col">
                <a href="{{ path('useredit-user-email') }}">Change email</a>
                </div>
            </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

