{% extends "layout.html.twig" %}

{% block content %}
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        {% for key,role in roles %}
            <li class="nav-item">
                <a href="{{ path('userlist-user-roles',{"role" : key}) }}" class="nav-link">{{ key|capitalize|replace({'_':' '}) }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="card-deck flex-wrap align-content-between">
        {% for user in users %}
            <div class="card text-center" style="flex-basis: 30%;">
                <img class="card-img-top" src="{{ asset('uploads/images/users/' ~ user.avatar) }}" alt="Card image cap">
                <div class="card-block">
                    <p class="card-text">{{ user.rol }}</p>
                    <h4 class="card-title">{{ user.name }}</h4>
                    <p class="card-text">{{ user.email }}</p>
                    {% if user.rol != "ROLE_ADMIN"%}
                    <form action="{{ path('useredit-user-rol', {'id': user.id}) }}" method="post" enctype="multipart/form-data">
                        <label class="mr-sm-2" for="rol">Change Rol</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" name="rol" id="rol">
                            <option {{ user.rol == "ROLE_GESTOR" ? "selected" : ""}} value="ROLE_GESTOR">Gestor</option>
                            <option {{ user.rol == "ROLE_COMPRADOR" ? "selected" : ""}} value="ROLE_COMPRADOR">Comprador</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Change</button>
                    </form>
                        {% endif %}
                </div>
            </div>

        {% endfor %}
    </div>

{% endblock %}