{% extends "layout.html.twig" %}

{% block content %}
    <ul class="nav nav-pills nav-fill flex-column flex-sm-row">
        {% for category in categories %}
            <li class="nav-item">
                <a href="{{ path('event-list-category', {'category': category.id}) }}" class="nav-link">{{ category.name }}</a>
            </li>
        {% endfor %}
    </ul>
    <div class="d-flex flex-wrap">
        {% for event in events %}
            <div class="card " style="width: 33%;">
                <img class="card-img-top " src="{{ asset('uploads/images/events/' ~ event.imagen) }}" alt="Card image cap">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title font-weight-bold">{{ event.name }}</h5>
                    <p class="card-text">{{ event.description }}</p>

                    <div class="row align-self-end">
                        <div class="col">
                            <p class="card-text font-weight-bold">Category: {{ event.categoria.name }}</p>
                        </div>
                        <div class="col-4 "><a href="{{ path('userdetail-user', {'id': event.creator.id}) }}" class="deco-none">
                    <img class="rounded-circle img-fluid" src="{{ asset('uploads/images/users/' ~ event.creator.avatar) }}" alt="Card image user">
                    <p class="card-text">{{ event.creator.name }}</p>

                            </a>
                        </div>
                    </div>

                </div>
                <div class="card-footer d-flex justify-content-between">
                    <div class="row">
                        <div class="col">
                            <small class="text-muted"><strong>Fecha: </strong>{{ event.date | date('d/m/Y') }}</small>
                        </div>
                        <div class="col2">
                            {% if is_granted('IS_AUTHENTICATED_FULLY') and (app.user.id == event.creator.id) %}
                                <a href="{{ path('event-delete', {'id': event.id}) }}" class="btn btn-danger">Delete</a>
                            {% endif %}
                            <a href="{{ path('event-detail', {'id': event.id}) }}" class="btn btn-primary">Show more</a>
                        </div>
                    </div>


                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}