{% extends 'layout.html.twig' %}

{% block content %}
    <!--Card-->
    <div class="card card-cascade wider reverse my-4 border-0">

        <!--Card image-->
        <div class="view overlay">
            <img src="{{ asset('uploads/images/events/' ~ event.imagen) }}" class="img-fluid card-img-top">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>
        <!--/Card image-->

        <!--Card content-->
        <div class="card-body text-center">
            <!--Title-->
            <h4 class="card-title"><strong>{{ event.name }}</strong></h4>
            <h5 class="indigo-text"><strong>{{ event.categoria.name }}</strong></h5>

            <p class="card-text">{{ event.description }}
            </p>
            <div class="row">
                {% if event.numTicketsDisp != 0%}
                <div class="col-6">
                    <h3 class="">COMPRAR</h3>
                    <div class="card-block">
                        <form action="{{ path('invoice-create',{'id' : event.id}) }}" enctype="multipart/form-data" method="post" class="p-5">
                            <label for="tickets" class="pr-5">Tickets:</label>
                            <input type="number" id="tickets" name="tickets" min="1" max="{{ event.numTicketsDisp }}" value="1">
                            <button type="submit" class="btn btn-success">COMPRAR</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                <div class="col">
                    <div class="">
                        <img class="w-25 h-25 " src="{{ asset('uploads/images/users/' ~ event.creator.avatar) }}" alt="Card image user">
                        <p class="font-weight-bold">{{ event.creator.name }}</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card-footer text-muted">
                        <div class="row">
                            <div class="col">
                                {% if event.numTicketsDisp == 0%}
                                <p><strong>Entradas: </strong>AGOTADAS</p>
                                    {% else %}
                                        <p><strong>Entradas: </strong>{{ event.numTicketsDisp }}</p>

                                {% endif %}

                            </div>
                            <div class="col">
                                <strong>Fecha: </strong>{{ event.date | date("d/m/Y")}}

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    {% if app.user.id == event.creator.id %}
                        <a href="{{ path('event-delete', {'id': event.id}) }}" class="btn btn-danger">Delete</a>
                        <a href="{{ path('event-edit', {'id': event.id}) }}" class="btn btn-danger">Edit</a>
                    {% endif %}
                {% endif %}
                </div>
            </div>
        </div>
        <!--/.Card content-->

    </div>
    <!--/.Card-->

{% endblock %}

